@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&display=swap");
@font-face {
  font-family: MoonveilStellarion;
  src: url(./MoonveilStellarion.ttf);
}
@import "tailwindcss";
